<h1><%= @user.name %>の詳細ページ</h1>

<div>
<p><%= User.human_attribute_name('profile') %>: <%= @user.profile %></p>
<p><%= User.human_attribute_name('email') %>: <%= @user.email %></p>
<p><%= User.human_attribute_name('address') %>: <%= @user.address %></p>
<p><%= User.human_attribute_name('postcode' ) %>: <%= @user.postcode %></p>

<%= link_to t('views.common.edit', name: 'ユーザー'), edit_user_registration_path %>
<%= link_to t('views.common.back', name: 'ユーザー'), users_path %>
</div>
