<h1><%= @user[:name] %>の詳細ページ</h1>

<div>
<p><%=User.human_attribute_name('profile')%><%= @user[:profile] %></p>
<p><%=User.human_attribute_name('email')%><%= @user[:email] %></p>
<p><%=User.human_attribute_name('address')%><%= @user[:address] %></p>
<p><%=User.human_attribute_name('postcode')%><%= @user[:postcode] %></p>
<a href="/users/edit"><button><%= t('views.common.edit', name: 'ユーザー')%></button></a>
<a href="/users/index"><button><%= t('views.common.back', name: 'ユーザー')%></button></a>

</div>
