<p style="color: green"><%= t flash[:notice] %></p>

<h1><%= I18n.t('page_title.books_page_title') %></h1>
<div id="books" class="index-items">
  <% @books.each do |book| %>
  <div class="index-item">
    <%= render book %>
    <p>
      <%= link_to I18n.t('link.show_detail_post_link'), book %>
    </p>
  </div>
  <% end %>
</div>
<nav class="page-nav">
<%= link_to I18n.t('link.create_book_link'), new_book_path %>
</nav>
