<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= params[:action] %>">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <p class="navbar-text float-right">
    <% if user_signed_in? %>
      <p>
      <strong> <%= t('login.state') %>: <%= current_user.name %> </strong>
      <%= link_to t('login.edit'), edit_user_registration_path, class: "navbar-link" %> |
      <%= link_to t('login.logout'), destroy_user_session_path, data: { turbo_method: :delete }, class: "navbar-link" %>
      </p>
    <% else %>
      <%= link_to t('sign_up'), new_user_registration_path, class: "navbar-link" %> |
      <%= link_to t('login.title'), new_user_session_path, class: "navbar-link" %>
    <% end %>
    </p>
    <%= yield %>
  </body>
</html>
